@import "navbar";

$size: 100px;
/*
Feito com: https://enjoycss.com/
*/
#addrpr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 27px;
    border: 1px solid;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgb(209, 209, 209);
    -webkit-box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  }

  #send {
   height: $size; 
   width: $size;
  }